<?xml version="1.0" encoding="UTF-8"?>
<!--
  <copyright company="Cloudbase Solutions Srl">
    Copyright 2015 Cloudbase Solutions Srl

    Licensed under the Apache License, Version 2.0 (the "License"); you may
    not use this file except in compliance with the License.You may obtain
    a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.See the
    License for the specific language governing permissions and limitations
    under the License.
  </copyright>
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="UserFinishDialog" Width="370" Height="270" Title="!(loc.UserExit_Title)">
        <Control Id="Title" Type="Text" X="135" Y="20" Width="210" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.UserExitTitle)" />
        <Control Id="Description" Type="Text" X="135" Y="80" Width="210" Height="80" Transparent="yes" NoPrefix="yes" Text="!(loc.UserExitDescription1) !(loc.UserExitDescription2)" />
        <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="no" Text="!(loc.UserExitBitmap)" />      
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUICancel)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUIBack)" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Finish" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="!(loc.WixUIFinish)">
          <Publish Event="EndDialog" Value="Exit">1</Publish>
        </Control>
      </Dialog>

      <AdminUISequence>
        <Show Dialog="UserFinishDialog" OnExit="cancel" Overridable="yes" />
      </AdminUISequence>

      <InstallUISequence>
        <Show Dialog="UserFinishDialog" OnExit="cancel" Overridable="yes" />
      </InstallUISequence>

    </UI>
  </Fragment>
</Wix>