#*#
*.a
*.d
*.ko
*.la
*.lo
*.loT
*.mod.c
*.o
*.o
*.pyc
*.so
*~
*,cover
.#*
.*.cmd
.*.swp
.coverage
.deps
.dirstamp
.libs
.tmp_versions
/Makefile
/Makefile.in
/aclocal.m4
/all-distfiles
/all-gitfiles
/autom4te.cache
/build-arch-stamp
/build-indep-stamp
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure-stamp
/depcomp
/distfiles
/install-sh
/manpage-check
/missing
/missing-distfiles
/package.m4
/stamp-h1
Module.symvers
TAGS
cscope.*
tags
_debian
