#*#
*.a
*.d
*.gcno
*.gcda
*.ko
*.la
*.lo
*.loT
*.mod.c
*.o
*.obj
*.exe
*.exp
*.ilk
*.lib
*.pdb
*.pyc
*.retry
*.so
*.suo
**/*.sym
*~
*,cover
.#*
.*.cmd
.*.swp
.coverage
.deps
.dirstamp
.libs
.tmp_versions
.vagrant
/Makefile
/Makefile.in
/aclocal.m4
/all-distfiles
/all-gitfiles
/autom4te.cache
/build-arch-stamp
/build-indep-stamp
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure-stamp
/depcomp
/distfiles
/dist-docs
/flake8-check
/docs-check
/install-sh
/libtool
/manpages.mk
/manpage-check
/missing
/missing-distfiles
/package.m4
/stamp-h1
/_build-gcc
/_build-clang
Module.symvers
TAGS
cscope.*
tags
_debian
odp-netlink.h
odp-netlink-macros.h
OvsDpInterface.h
/.vagrant/
testsuite.tmp.orig
/rpm/
/openvswitch*.tar.gz
/tests/lcov/
/Documentation/_build
/.venv
/cxx-check
