/*.o.flags
/Kbuild
/Makefile
/Makefile.main
/attr.c
/chain.c
/datapath.c
/compat24.c
/crc32.c
/crc_t.c
/dp_act.c
/dp_dev.c
/dp_notify.c
/flow.c
/forward.c
/forward_t.c
/genetlink.c
/hwtable_dummy.c
/kernel.c
/kthread.c
/netlink.c
/nx_act.c
/nx_act_snat.c
/nx_msg.c
/random32.c
/rcupdate.c
/sched.c
/string.c
/table-hash.c
/table-linear.c
/table-mac.c
/table_t.c
/unit-exports.c
/unit.c
/tmp
