*.debhelper
*.debhelper.log
*.substvars
/control
/copyright
/files
/nicira-switch
/openvswitch
/openvswitch-common
/openvswitch-common.copyright
/openvswitch-datapath-source
/openvswitch-datapath-dkms
/openvswitch-dbg
/openvswitch-ipsec
/openvswitch-pki
/openvswitch-switch
/openvswitch-switch.copyright
/openvswitch-test
/openvswitch-testcontroller
/openvswitch-vtep
/python-openvswitch
/tmp
