*.debhelper
*.debhelper.log
*.substvars
/autoreconf.after
/autoreconf.before
/control
/copyright
/debhelper-build-stamp
/files
/openvswitch-common
/openvswitch-doc
/openvswitch-ipsec
/openvswitch-pki
/openvswitch-source
/openvswitch-switch
/openvswitch-switch-dpdk
/openvswitch-test
/openvswitch-testcontroller
/openvswitch-vtep
/python3-openvswitch
/tmp
