[Unit]
Description=OVN controller daemon
After=syslog.target
Requires=openvswitch.service
After=openvswitch.service

[Service]
Type=simple
Environment=OVS_RUNDIR=%t/openvswitch
ExecStart=/usr/bin/ovn-controller -vconsole:emer -vsyslog:err -vfile:info \
          --log-file=/var/log/openvswitch/ovn-controller.log \
          --no-chdir --pidfile=${OVS_RUNDIR}/ovn-controller.pid \
          unix:${OVS_RUNDIR}/db.sock
