[Unit]
Description=Open vSwitch Delete Transient Ports
After=ovsdb-server.service
Before=ovs-vswitchd.service
AssertPathExists=/var/run/openvswitch/db.sock

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/share/openvswitch/scripts/ovs-ctl delete-transient-ports
