[Unit]
Description=OVS IPsec daemon
Requires=openvswitch.service
After=openvswitch.service

[Service]
Type=forking
PIDFile=/run/openvswitch/ovs-monitor-ipsec.pid
Restart=on-failure
EnvironmentFile=/etc/openvswitch/default.conf
EnvironmentFile=-/etc/sysconfig/openvswitch
ExecStart=/usr/share/openvswitch/scripts/ovs-ctl --no-monitor \
                    --ike-daemon=libreswan start-ovs-ipsec $OPTIONS
ExecStop=/usr/share/openvswitch/scripts/ovs-ctl stop-ovs-ipsec

[Install]
WantedBy=multi-user.target
