<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Microsoft Driver Recommended Rules" Description="This rule set contains rules recommended for drivers." ToolsVersion="10.0">
  <Include Path="NativeRecommendedRules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C28101" Action="Warning" />
    <Rule Id="C28110" Action="Warning" />
    <Rule Id="C28111" Action="Warning" />
    <Rule Id="C28114" Action="Warning" />
    <Rule Id="C28120" Action="Warning" />
    <Rule Id="C28121" Action="Warning" />
    <Rule Id="C28122" Action="Warning" />
    <Rule Id="C28123" Action="Warning" />
    <Rule Id="C28124" Action="Warning" />
    <Rule Id="C28126" Action="Warning" />
    <Rule Id="C28127" Action="Warning" />
    <Rule Id="C28128" Action="Warning" />
    <Rule Id="C28129" Action="Warning" />
    <Rule Id="C28131" Action="Warning" />
    <Rule Id="C28132" Action="Warning" />
    <Rule Id="C28133" Action="Warning" />
    <Rule Id="C28134" Action="Warning" />
    <Rule Id="C28135" Action="Warning" />
    <Rule Id="C28139" Action="Warning" />
    <Rule Id="C28141" Action="Warning" />
    <Rule Id="C28143" Action="Warning" />
    <Rule Id="C28144" Action="Warning" />
    <Rule Id="C28145" Action="Warning" />
    <Rule Id="C28146" Action="Warning" />
    <Rule Id="C28147" Action="Warning" />
    <Rule Id="C28150" Action="Warning" />
    <Rule Id="C28151" Action="Warning" />
    <Rule Id="C28152" Action="Warning" />
    <Rule Id="C28153" Action="Warning" />
    <Rule Id="C28156" Action="Warning" />
    <Rule Id="C28157" Action="Warning" />
    <Rule Id="C28158" Action="Warning" />
    <Rule Id="C28161" Action="Warning" />
    <Rule Id="C28162" Action="Warning" />
    <Rule Id="C28165" Action="Warning" />
    <Rule Id="C28166" Action="Warning" />
    <Rule Id="C28167" Action="Warning" />
    <Rule Id="C28168" Action="Warning" />
    <Rule Id="C28169" Action="Warning" />
    <Rule Id="C28170" Action="Warning" />
    <Rule Id="C28171" Action="Warning" />
    <Rule Id="C28172" Action="Warning" />
    <Rule Id="C28175" Action="Warning" />
    <Rule Id="C28176" Action="Warning" />
    <Rule Id="C28177" Action="Warning" />
    <Rule Id="C28208" Action="Warning" />
    <Rule Id="C28260" Action="Warning" />
    <Rule Id="C28266" Action="Warning" />
    <Rule Id="C28268" Action="Warning" />
    <Rule Id="C28601" Action="Warning" />
    <Rule Id="C28602" Action="Warning" />
    <Rule Id="C28604" Action="Warning" />
    <Rule Id="C28615" Action="Warning" />
    <Rule Id="C28616" Action="Warning" />
    <Rule Id="C28617" Action="Warning" />
    <Rule Id="C28623" Action="Warning" />
    <Rule Id="C28624" Action="Warning" />
    <Rule Id="C28625" Action="Warning" />
    <Rule Id="C28636" Action="Warning" />
    <Rule Id="C28637" Action="Warning" />
    <Rule Id="C28638" Action="Warning" />
    <Rule Id="C28639" Action="Warning" />
    <Rule Id="C28640" Action="Warning" />
    <Rule Id="C28645" Action="Warning" />
    <Rule Id="C28648" Action="Warning" />
    <Rule Id="C28650" Action="Warning" />
    <Rule Id="C28714" Action="Warning" />
    <Rule Id="C28715" Action="Warning" />
    <Rule Id="C28716" Action="Warning" />
    <Rule Id="C28717" Action="Warning" />
    <Rule Id="C28719" Action="Warning" />
    <Rule Id="C28720" Action="Warning" />
    <Rule Id="C28721" Action="Warning" />
    <Rule Id="C28726" Action="Warning" />
    <Rule Id="C28727" Action="Warning" />
    <Rule Id="C28730" Action="Warning" />
    <Rule Id="C28735" Action="Warning" />
    <Rule Id="C28736" Action="Warning" />
    <Rule Id="C28750" Action="Warning" />
    <Rule Id="C28751" Action="Warning" />
  </Rules>
</RuleSet>
